.jumbotron {
    background-image: url("../images/belly_button_bacteria.jpg");
    min-height: 50%;
    background-position: center;
    background-size: cover;
}

h1 {
    font-size: 50px;
    font-weight: bold;
}

.panel {
   background-color: rgb(234, 240, 240);
   border: rgb(25, 99, 112); 
}

.well {
    background-color: rgb(234, 240, 240);
    border: rgb(112, 53, 25);
}

.container {
    font-size: 14px;
    font-family: Helvetica;
}